// notice the underscore (_) in the filename
header {
  background: rgb(181, 214, 226);
  display: flex;
  justify-content: center;
  color: $textColor;

  button {
    background-color: $primaryButton;
    color: $textColor;
    &:hover {
      background: red;
    }
  }
}