// notice the underscore (_) in the filename

// create mixin
// adding default variables to mixin
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}


header {

  // add mixin
  @include flexCenter(column);

  background: $headerColor;
  height: 50vh;
  color: $textColor;

  // nesting
  button {
    background-color: $primaryButton;
    color: $textColor;
    &:hover {
      background: red;
    }
  }
}